.login-bg{
    background-image: url("../images/YellowBubble.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .login-bg {
      background-position: center center;
    }
  }